# Lab 1

# Intro to Python

## Imports

In [1]:
import math

## Preliminaries

### Assert

<div style="border-style: solid; border-width: 2px; border-color: #808080; padding: 20px; border-radius: 5px;">
    <h3> Assert </h3>
    <code>assert</code> is a useful keyword for debugging. It lets you test if a condition is true and if not it returns an error. An `assert` won't do anything if the condition is not True. It will be used in the lab to check some of your answers. If there is an assert in the cell and the cell does not raise an error when run, then your answer is correct or partially correct. Note that this assert cannot check if you have printed the answer correctly.<br>
    <strong>Syntax:</strong><br>
    <code>assert {condition}, {string message shown when condition is false}</code>
</div>

The following raises an `AssertionError` because `x != 5`

In [2]:
x = 4
assert x == 5, "x is not equal to 5"

AssertionError: x is not equal to 5

The following does not raise an error because `x == 5`.

In [3]:
x = 5
assert x == 5, "x is not equal to 5"

## 1. Basic Variables and Operations

### Variables

1) Assign an integer value to `var1` and print it.

In [10]:
var1 = 1 
print(var1)

assert type(var1) == int, "var1 is of wrong type"

1

2. Assign a float value to `var2` and print it

In [5]:
var2 = 0.1 
print(var2) 

assert type(var2) == float, "var2 is of wrong type"

0.1

3. Assign a bool value to `var3` and print it

In [6]:
var3 = True  
print(var3)

assert type(var3) == bool, "var3 is of wrong type"

True

4. Assign any string value to `var4` and print it

In [7]:
var4 = "string"
print(var4)

assert type(var4) == str, "var4 is of wrong type"

string

### Operations

5. Print the following operations on `x` and `y` <br>
  a. `x` plus `y` <br>
  b. `x` minus `y` <br>
  c. `x` times `y` converted to int <br>
  d. `x` divided by 2 <br>
  e. floor of `x` divided by 2, without using math.floor <br>
  f. `x` to the power of 5 <br>
  g. `x` mod `y` <br>
  h. Natural log of `x`  (Hint: look at docs for [math module](https://docs.python.org/3/library/math.html))

In [20]:
# RUN THIS CELL BEFORE EVERYTHING ELSE
x = 4
y = 7.4

a)

In [12]:
print(x+y)

11.4

b)

In [13]:
print(x-y)

-3.4000000000000004

c)

In [14]:
print(int(x*y))

29

d)

In [15]:
print(x/2)

2.0

e)

In [16]:
print(x//2)

2

f)

In [17]:
print(x**5)

1024

g)

In [18]:
print(x%y)

4.0

h)

In [19]:
print(math.log(x))

1.3862943611198906

## 2. More Variables and Operations
I.e., lists, dictionaries, sets and tuples

### 2.1 Lists

1. Create a list with the following elements: 1, 2, 3, 4, 5 and assign it to variable `list1`. Access and print the second element of the list.

In [22]:
list1 = [1,2,3,4,5]
print(list1[1])

2

2. Append the number 6 to the end of `list2` and print the result.

In [23]:
list2 = list1.copy()
list2.append(6)
print(list2)

[1, 2, 3, 4, 5, 6]

3. Insert the letter "a" at the beginning of `list1`.

In [24]:
list2 = list1.copy()
list2.insert(0, "a")
print(list2)

['a', 1, 2, 3, 4, 5]

4. Remove the last element of `list2`

In [25]:
list2 = list1.copy()

list2.pop()
print(list2)

[1, 2, 3, 4]

5. Print a sublist that contains the elements from index 3 to index 7 (inclusive) of `list3`.

In [26]:
list3 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'k', 'l', 'm']
print(list3[3:8])

['d', 'e', 'f', 'g', 'h']

6. Using slicing print a sublist that contains only the even numbers contained in `list3`.

In [27]:
list3 = [1,2,3,4,5,6]
print(list3[1::2])

[2, 4, 6]

7. Using slicing print `list3` in reverse order

In [28]:
list3 = [1,2,3,4,5,6]
print(list3[::-1])

[6, 5, 4, 3, 2, 1]

8. Using slicing extract and print the last 3 elements of `list3`

In [29]:
list3 = [1,2,3,4,5,6]
print(list3[-3:])

[4, 5, 6]

9. Using slicing extract and print all the elements from the beginning of `list3` to (but not including) the fifth element.

In [30]:
list3 = [1,2,3,4,5,6]
print(list3[:5])

[1, 2, 3, 4, 5]

8. Append 5 to end of `var1` and print `var1` afterwards

In [ ]:
var1 = [1,2,3,4]
var1.append(5)
print(var1)

9. Append -1 to the start of `var1` and print the result

In [ ]:
var1 = [1,2,3,4]
var1.insert(0, -1)
print(var1)

10. Reverse `var1` and print the result

In [ ]:
var1 = [1,2,3,4]
var1.reverse()
print(var1)

11. Create a new list that contains the middle two elements of `var1` in one line and assign it to `var2` <br>
Hint: Use slicing

In [ ]:
var1 = [1,2,3,4]
var2 = var1[1:3] 
print(var2)

12. Create a new list that contains all but the first element of `var1` and assign it to `var2` <br>

In [1]:
import numpy as np
var1 = [i for i in range(np.random.randint(15))]
print("var1:", var1)

var2 = var1[1:] 
print("var2:", var2)

var1: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
var2: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

13. Print the concatentation of `var1` and `var2`

In [ ]:
var1 = [1, 2, 3]
var2 = ["a", "b", "c"]

print(var1 + var2)

Create a 2D list of size 2 x 2 and assign it to variable `var1`. You can assign any values to this list

In [ ]:
var1 = [[1,2], [3,4]]
print(var1)

### 2.2 String Operations

1. Print the first 5 characters of 'str1'

In [31]:
str1 = "Slicing is great"
print(str1[:5])

Slici

2. Concatenate `str1` and `str2` and convert the result to lower case. Assign the answer to `str3`

In [32]:
str1 = "HELLO"
str2 = " WORLD"
str3 = str1 + str2
str3 = str3.lower()
print(str3)

hello world

### 2.3 Dictionaries

<div style="border-style: solid; border-width: 2px; border-color: #808080; padding: 20px; border-radius: 5px;">
    <h3> Variables Over Multiple Cells </h3>
    In the following questions for dictionaries we make use of the same dictionary <code>d</code> and alter its value in multiple cells. In order to get the correct result you <strong>must</strong> run the cells for questions 1-7 in order. The same applies for the following questions on 'Sets and Tuples'.
</div>

1. Define `d` as a dictionary with the following key-value pairs: "dog" : "canine", "cat" : "feline", "rat" : "rodent". Access and print the value associated with the key "dog".

In [38]:
d = {"dog" : "canine", "cat" : "feline", "rat" : "rodent"}
print(d["dog"])

canine

2. Add a key-value pair "monkey" : "primate" to `dict1`. </br>
**Note:** When you run this cell for the correct answer, it will add the key value pair for the key 'monkey' to `d`. Since `d` is stored in memory re-runing this cell afterwards will have the effect of updating the value for key "monkey". <br/>
When writing and testing these answers it is helpful to rerun the preceding cells in this subsection, so that the correct value of `d` is being used. Specifically for this question you should rerun the cell for 2.3.1.

In [39]:
d["monkey"] = "primate"
print(d)

{'dog': 'canine', 'cat': 'feline', 'rat': 'rodent', 'monkey': 'primate'}

3. Update the value associated with the key "cat" to "Felis catus" in `dict1`.

In [40]:
d["cat"] = "Felis catus"
print(d)

{'dog': 'canine', 'cat': 'Felis catus', 'rat': 'rodent', 'monkey': 'primate'}

4. Remove the key-value pair associated with the key 'rat' from `dict1`

In [41]:
# Note: You can't run this cell multiple times after writing the answer because key value pair will have already been deleted. 
# If you want to rerun this cell then rerun the preceding cells first
del d["rat"]
print(d)

{'dog': 'canine', 'cat': 'Felis catus', 'monkey': 'primate'}

5. Print the values of `d`

In [42]:
print(d.values())

dict_values(['canine', 'Felis catus', 'primate'])

6. Print the keys of `d`

In [43]:
print(d.keys())

dict_keys(['dog', 'cat', 'monkey'])

7. Print the key value pairs of `d`

In [44]:
print(d.items())

dict_items([('dog', 'canine'), ('cat', 'Felis catus'), ('monkey', 'primate')])

### 2.4 Sets and Tuples

1. Create a set `s` containing the elements "cat", "dog" and "mouse" and print the set.

In [45]:
s = {"cat", "dog", "mouse"}
print(s)

{'cat', 'dog', 'mouse'}

2. Add "bird" to the set `s` and print `s`. <br/>

In [46]:
s.add("bird")
print(s)

{'bird', 'cat', 'dog', 'mouse'}

3. Create a tuple `t` containing the values "a", "b" and "c" in that order. Afterwards print the second element of `t`

In [47]:
t = ("a", "b", "c")
print(t[1])

b

## 3. Conditionals

1. Write an if statement that checks if variable `x` is equal to 10 and prints "x is equal to 10" if the condition is true.

In [48]:
x = 10
if x == 10:
    print("x is equal to 10")

x is equal to 10

2. Write an if-else statement that checks if a variable `x` is greater than 5. If the condition is true, print "x is greater than 5", otherwise print "x is not greater than 5".

In [49]:
x = 6
if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

x is greater than 5

3. Write an if-elif-else statement that checks if a variable `x` is positive, zero, or negative. If `x` is positive, print "x is positive", if `x` is zero, print "x is zero", otherwise print "x is negative".

In [50]:
x = 0
if x > 0:
    print("x is positive")
elif x == 0:
    print("x is zero")
else:
    print("x is negative")

x is zero

4. Write an if-else statement that checks if a variable x is odd or even. If x is odd, print "x is odd", otherwise print "x is even".

In [51]:
x = 5
if x % 2 != 0:
    print("x is odd")
else:
    print("x is even")

x is odd

5. Write an if statement that checks if the value "a" is in the list `l`. If "a" is in the list, then print "a is in the list".

In [52]:
l = "a b c d e".split()  # This is equivalent to l = ["a", "b", "c", "d", "e"], but is shorter to write
if "a" in l:
    print("a is in the list")

a is in the list

6. Given two variables `hours_of_sleep` and `had_coffee`, write an if statement that prints "I am tired" if `hours_of_sleep` is less than 8 and `had_coffee` is false.

In [53]:
hours_of_sleep = 6
had_coffee = False

if hours_of_sleep < 8 and not had_coffee:
    print("I am tired")

I am tired

## 4. Functions

Write a function `cube` that takes `x` as an argument and returns the cube of `x`

In [54]:
def cube(x):
    return x**3

print(cube(3))
assert cube(3) == 27, "cube does not return the correct output"

27

Write a function `is_palindrome` that takes a string `s` as an argument and returns `True` if the string is a palindrome, and `False` otherwise. A palindrome is a word that is spelt the same when written forwards or backwards. An example of a palindrome is 'racecar'.

In [9]:
def is_palindrome(s):
    return s == s[::-1]

print("is_palindrome('racecar') ==", is_palindrome('racecar'))
assert is_palindrome("racecar") == True, "is_palindrome does not return the correct output"

is_palindrome('racecar') == True

## 5. Scope

**TODO**

1. Sammy was given the following question: <br/>
"Write a function `append_no` that takes in a list of integers and returns a new list that contains the previous list with the value 1 appended to the start of it. Note that the original list should not be modified Sample input: \[2,3,4\]. Sample output: \[1,2,3,4\]". 

Sammy gave the following answer, which contains an error in that it modifies the original list.

# Original function given so that you can refer back to it
def append_no(l):
    l.insert(0, 1)
    return l

**Original Code:**

In [6]:
def append_no(l):
    # FIX THE CODE IN HERE
    l.insert(0, 1)
    return l

# DO NOT CHANGE ANY OF THE BELOW
orig_l = [2,3,4]
new_l = append_no(orig_l)

print("orig_l =", orig_l)
print("new_l =", new_l)

assert orig_l == [2,3,4], "The original list was changed"
assert new_l == [1,2,3,4], "The function did not provide the correct answer"

print("The correct answer was given!")

orig_l = [1, 2, 3, 4]
new_l = [1, 2, 3, 4]

AssertionError: The original list was changed

**Correct Code:**

In [8]:
def append_no(l):
    # Many different ways to do this
    # Creating a copy of the list is often helpful and guarantees you won't change the original list
    new_l = l.copy()
    new_l.insert(0, 1)
    return new_l

# DO NOT CHANGE ANY OF THE BELOW
orig_l = [2,3,4]
new_l = append_no(orig_l)

print("orig_l =", orig_l)
print("new_l =", new_l)

assert orig_l == [2,3,4], "The original list was changed"
assert new_l == [1,2,3,4], "The function did not provide the correct answer"

print("The correct answer was given!")

orig_l = [2, 3, 4]
new_l = [1, 2, 3, 4]
The correct answer was given!