# Lab 3.1 - NumPy

## 1. NumPy

In [ ]:
# RUN THIS
import numpy as np

### 1.1 Creating Arrays

1. Create a NumPy array from the list `l` and name it `arr`.

In [ ]:
l = [1,2,3]
arr = ...

2. Create a 1 dimensional array `arr` of length 10 with all elements set to 1.

In [ ]:
arr = ...

3. Create a 1 dimensional array`arr` of length 4 with all elements set randomly using `np.random.rand()`.

In [ ]:
arr = ...

4. Create a 2 dimensional array `arr` of size 10x10 with all elements set to 0.

In [ ]:
arr = ...

5. Create a multi-dimensional array `arr` of size 4x4x3 with all the elements set to 0. After doing so print the shape of `arr`.

In [ ]:
arr = ...

6. Create a 2D array `arr` of size 4x4 containing the integers 0 - 16 arranged such that the numbers sequently increase from left to right and top to bottom.

Array values
```
0 1 2 3
4 5 6 7
8 9 10 11
12 13 14 15
```

Hint: Use `arange()` and `reshape()`

In [ ]:
arr = ...

### 1.2 Indexing Arrays

1. Create a NumPy array `arr` from the list `l` and index and print the second element.

In [ ]:
l = [1,2,3,4]
arr = ...
...

2. Create a 2D NumPy array `arr` from the list `l2d` and index and print the element at index (2,1).

In [ ]:
l2d = [[1,2,3], [4, 5, 6], [7, 8, 9]]
arr2d = ...
...

3. Using the above array `arr2d` index and print all of row 2. Hint: Use slicing.

4. Create a 2D NumPy array `arr` with the following values and format:
```
1 2 3 4
5 6 7 8
9 10 11 12
13 14 15 16
```

Given this NumPy array index and print:
```
1 2 3
5 6 7
```
using slicing

In [ ]:
arr = ...

### 1.3 Operations

1. Given the NumPy array `arr`, find and print the: <br>
a) Min <br>
b) Max <br>
c) Mean <br>
d) Standard Deviation <br>
e) Sum <br>

Useful resource: [NumPy Array Docs](https://numpy.org/doc/stable/reference/generated/numpy.ndarray.html). Note: Just look at the 'methods' section of that page.

In [ ]:
# RUN THIS FIRST
arr = np.random.randn(100, 100, 100)
arr.shape

a)

b)

c)

d)

e)

#### Operations Over a Specific Axis

2. Given the NumPy array `arr`, take the sum over the first axis (i.e., axis 0)

In [ ]:
arr = np.random.randn(10, 10, 10)

arr_sum = ...
print(arr_sum)

assert arr_sum.shape == (10, 10), "sum was taken over the wrong axis"

## 2. Pandas

In [ ]:
import pandas as pd
import seaborn as sns

### 2.1 Basics

In [ ]:
# RUN THIS
df = sns.load_dataset("iris")

1. Show the top rows of the DataFrame `df` using `head()`

2. Print the shape of `df`

3. Index and show the column titled "sepal_length"

4. Use `describe` to show important stats about the DataFrame

5. Index and show the element in `df` at row 1 and column 2. Hint: Use `iloc`.

6. Index and show the element in df with index 3 and in column "petal_width". Hint: use `loc`.

## 2. Matplotlib

In [ ]:
# RUN THIS
import matplotlib.pyplot as plt

1. Create a line graph using the NumPy arrays `x` and `y`.

In [ ]:
x = np.arange(10)
y = x * 2

...

2. Create a scatter plot using the NumPy arrays `x` and `y`. Specify the label for the x-axis as `x`, the label for the y-axis as `y` and the title as "Scatter Plot".

In [ ]:
x = np.random.randint(0, 100, 100)
y = np.random.randint(0, 100, 100)

...

### Seaborn

In [ ]:
# RUN THIS
import seaborn as sns
sns.set_theme()

1. Use seaborn to create a scatter plot visualising `sepal_length` (x-axis) vs `sepal_width` (y-axis), for the dataframe `df`.

In [ ]:
df = sns.load_dataset('iris')
...