# Lab 1

# Intro to Python

## Imports

In [ ]:
# RUN THIS
import math

## Preliminaries

### Assert

<div style="border-style: solid; border-width: 2px; border-color: #808080; padding: 20px; border-radius: 5px;">
    <h3> Assert </h3>
    <code>assert</code> is a useful keyword for debugging. It lets you test if a condition is true and if not it returns an error. An `assert` won't do anything if the condition is not True. It will be used in the lab to check some of your answers. If there is an assert in the cell and the cell does not raise an error when run, then your answer is correct or partially correct. Note that this assert cannot check if you have printed the answer correctly.<br>
    <strong>Syntax:</strong><br>
    <code>assert {condition}, {string message shown when condition is false}</code>
</div>

The following raises an `AssertionError` because `x != 5`

In [ ]:
x = 4
assert x == 5, "x is not equal to 5"

The following does not raise an error because `x == 5`.

In [ ]:
x = 5
assert x == 5, "x is not equal to 5"

## 1. Basic Variables and Operations

### Variables

1) Assign an integer value to `var1` and print it.

In [ ]:
# YOUR CODE HERE 

# DO NOT CHANGE
assert type(var1) == int, "var1 is of wrong type"

2. Assign a float value to `var2` and print it

In [ ]:
# YOUR CODE HERE 

# DO NOT CHANGE
assert type(var2) == float, "var2 is of wrong type"

3. Assign a bool value to `var3` and print it

In [ ]:
# YOUR CODE HERE 

# DO NOT CHANGE
assert type(var3) == bool, "var3 is of wrong type"

4. Assign any string value to `var4` and print it

In [ ]:
# YOUR CODE HERE 

# DO NOT CHANGE
assert type(var4) == str, "var4 is of wrong type"

### Operations

5. Print the following operations on `x` and `y` <br>
  a. `x` plus `y` <br>
  b. `x` minus `y` <br>
  c. `x` times `y` converted to int <br>
  d. `x` divided by 2 <br>
  e. floor of `x` divided by 2, without using math.floor <br>
  f. `x` to the power of 5 <br>
  g. `x` mod `y` <br>
  h. Natural log of `x`  (Hint: look at docs for [math module](https://docs.python.org/3/library/math.html))

In [ ]:
# RUN THIS CELL BEFORE EVERYTHING ELSE
x = 4
y = 7.4

a)

In [ ]:
# YOUR CODE HERE

b)

In [ ]:
# YOUR CODE HERE

c)

In [ ]:
# YOUR CODE HERE

d)

In [ ]:
# YOUR CODE HERE

e)

In [ ]:
# YOUR CODE HERE

f)

In [ ]:
# YOUR CODE HERE

g)

In [ ]:
# YOUR CODE HERE

h)

In [ ]:
# YOUR CODE HERE

## 2. More Variables and Operations
I.e., lists, dictionaries, sets and tuples

### 2.1 Lists

Replace `...` with your code

1. Create a list with the following elements: 1, 2, 3, 4, 5 and assign it to variable `list1`. Access and print the second element of the list.

In [ ]:
list1 = ...
...

2. Append the number 6 to the end of `list2` and print the result.

In [ ]:
list2 = list1.copy()

# YOUR CODE HERE

3. Insert the letter "a" at the beginning of `list1`.

In [ ]:
list2 = list1.copy()

# YOUR CODE HERE

4. Remove the last element of `list2`

In [ ]:
list2 = list1.copy()

# YOUR CODE HERE

5. Print a sublist that contains the elements from index 3 to index 7 (inclusive) of `list3`.

In [ ]:
list3 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'k', 'l', 'm']

# YOUR CODE HERE

6. Using slicing print a sublist that contains only the even numbers contained in `list3`.

In [ ]:
list3 = [1,2,3,4,5,6] 

# YOUR CODE HERE

7. Using slicing print `list3` in reverse order

In [ ]:
list3 = [1,2,3,4,5,6]

# YOUR CODE HERE

8. Using slicing extract and print the last 3 elements of `list3`

In [ ]:
list3 = [1,2,3,4,5,6]

# YOUR CODE HERE

9. Using slicing extract and print all the elements from the beginning of `list3` to (but not including) the fifth element.

In [ ]:
list3 = [1,2,3,4,5,6]

# YOUR CODE HERE

8. Append 5 to end of `var1` and print `var1` afterwards

In [ ]:
var1 = [1,2,3,4]

# YOUR CODE HERE

9. Append -1 to the start of `var1` and print the result

In [ ]:
var1 = [1,2,3,4]

# YOUR CODE HERE

10. Reverse `var1` and print the result

In [ ]:
var1 = [1,2,3,4]

# YOUR CODE HERE

11. Create a new list that contains the middle two elements of `var1` in one line and print it <br>
Hint: Use slicing

In [ ]:
var1 = [1,2,3,4]

# YOUR CODE HERE

12. Create a new list that contains all but the first element of `var1` and assign it to `var2` <br>

In [ ]:
import numpy as np
var1 = [i for i in range(np.random.randint(15))]
print("var1:", var1)

var2 = ... # YOUR CODE HERE

print("var2:", var2)

13. Print the concatentation of `var1` and `var2`

In [ ]:
var1 = [1, 2, 3]
var2 = ["a", "b", "c"]

# YOUR CODE HERE

Create a 2D list of size 2 x 2 and assign it to variable `var1`. You can assign any values to this list

In [ ]:
var1 = ... # YOUR CODE HERE

print(var1)

### 2.2 String Operations

1. Print the first 5 characters of 'str1'

In [ ]:
str1 = "Slicing is great"
# YOUR CODE HERE

2. Concatenate `str1` and `str2` and convert the result to lower case. Assign the answer to `str3` then print it.

In [ ]:
str1 = "HELLO"
str2 = " WORLD"

# YOUR CODE HERE

### 2.3 Dictionaries

<div style="border-style: solid; border-width: 2px; border-color: #808080; padding: 20px; border-radius: 5px;">
    <h3> Variables Over Multiple Cells </h3>
    In the following questions for dictionaries we make use of the same dictionary <code>d</code> and alter its value in multiple cells. In order to get the correct result you <strong>must</strong> run the cells for questions 1-7 in order. The same applies for the following questions on 'Sets and Tuples'.
</div>

1. Define `d` as a dictionary with the following key-value pairs: "dog" : "canine", "cat" : "feline", "rat" : "rodent". Access and print the value associated with the key "dog".

In [ ]:
# YOUR CODE HERE

2. Add a key-value pair "monkey" : "primate" to `d`, then print `d`. </br>
**Note:** When you run this cell for the correct answer, it will add the key value pair for the key 'monkey' to `d`. Since `d` is stored in memory re-runing this cell afterwards will have the effect of updating the value for key "monkey". <br/>
When writing and testing these answers it is helpful to rerun the preceding cells in this subsection, so that the correct value of `d` is being used. Specifically for this question you should rerun the cell for 2.3.1.

In [ ]:
# YOUR CODE HERE

3. Update the value associated with the key "cat" to "Felis catus" in `d`, then print `d`.

In [ ]:
# YOUR CODE HERE

4. Remove the key-value pair associated with the key 'rat' from `d`, then print `d`.

In [ ]:
# Note: You can't run this cell multiple times after writing the answer because key value pair will have already been deleted. 
# If you want to rerun this cell then rerun the preceding cells first

# YOUR CODE HERE

5. Print the values of `d`

In [ ]:
# YOUR CODE HERE

6. Print the keys of `d`

In [ ]:
# YOUR CODE HERE

7. Print the key value pairs of `d`

In [ ]:
# YOUR CODE HERE

### 2.4 Sets and Tuples

1. Create a set `s` containing the elements "cat", "dog" and "mouse" and print the set.

In [ ]:
# YOUR CODE HERE

2. Add "bird" to the set `s` and print `s`. <br/>

In [ ]:
# YOUR CODE HERE

3. Create a tuple `t` containing the values "a", "b" and "c" in that order. Afterwards print the second element of `t`

In [ ]:
# YOUR CODE HERE

## 3. Conditionals

1. Write an if statement that checks if variable `x` is equal to 10 and prints "x is equal to 10" if the condition is true.

In [ ]:
x = 10

# YOUR CODE HERE

2. Write an if-else statement that checks if a variable `x` is greater than 5. If the condition is true, print "x is greater than 5", otherwise print "x is not greater than 5".

In [ ]:
x = 6

# YOUR CODE HERE

3. Write an if-elif-else statement that checks if a variable `x` is positive, zero, or negative. If `x` is positive, print "x is positive", if `x` is zero, print "x is zero", otherwise print "x is negative".

In [ ]:
x = 0

# YOUR CODE HERE

4. Write an if-else statement that checks if a variable x is odd or even. If x is odd, print "x is odd", otherwise print "x is even".

In [ ]:
x = 5

# YOUR CODE HERE

5. Write an if statement that checks if the value "a" is in the list `l`. If "a" is in the list, then print "a is in the list".

In [ ]:
l = "a b c d e".split()  # This is equivalent to l = ["a", "b", "c", "d", "e"], but is shorter to write

# YOUR CODE HERE

6. Given two variables `hours_of_sleep` and `had_coffee`, write an if statement that prints "I am tired" if `hours_of_sleep` is less than 8 and `had_coffee` is false.

In [ ]:
hours_of_sleep = 6
had_coffee = False

# YOUR CODE HERE

## 4. Functions

Write a function `cube` that takes `x` as an argument and returns the cube of `x`

In [ ]:
# YOUR FUNCTION HERE

# DON'T CHANGE ANY OF THE BELOW
print(cube(3))
assert cube(3) == 27, "cube does not return the correct output"

Write a function `is_palindrome` that takes a string `s` as an argument and returns `True` if the string is a palindrome, and `False` otherwise. A palindrome is a word that is spelt the same when written forwards or backwards. An example of a palindrome is 'racecar'.

In [ ]:
# YOUR FUNCTION HERE

# DON'T CHANGE ANY OF THE BELOW
print("is_palindrome('racecar') ==",  is_palindrome('racecar'))
assert is_palindrome("racecar") == True, "is_palindrome does not return the correct output"

## 5. Scope

**TODO**

1. Sammy was given the following question: <br/>
"Write a function `append_no` that takes in a list of integers and returns a new list that contains the previous list with the value 1 appended to the start of it. Note that the original list should not be modified Sample input: \[2,3,4\]. Sample output: \[1,2,3,4\]". 

Sammy gave the following answer, which contains an error in that it modifies the original list.

# Original function given so that you can refer back to it
def append_no(l):
    l.insert(0, 1)
    return l

In [ ]:
def append_no(l):
    # FIX THE CODE IN HERE
    l.insert(0, 1)
    return l

# DO NOT CHANGE ANY OF THE BELOW
orig_l = [2,3,4]
new_l = append_no(orig_l)

print("orig_l = ", orig_l)
print("new_l = ", new_l)

assert orig_l == [2,3,4], "The original list was changed"
assert new_l == [1,2,3,4], "The function did not provide the correct answer"

print("The correct answer was given!")